#container {
    width: 600px;
    height: 600px;
    border: 20px solid rgb(77, 109, 109);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#top {
    font-size: 50px;
    padding: 20px;
}

#tag,
#top {

    font-weight: bold;
    color: rgb(59, 82, 82);
    display: flex;
    justify-content: center;
}

#buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0px 20px;
}

#reset,
#clear {
    font-size: 1.5em;
    color: white;
    background-color: rgb(77, 109, 109);
    margin: 0px 40px;
}

#reset:hover,
#clear:hover {
    font-weight: bold;
}

.square {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    background-color: rgb(117, 173, 173);
}