#container {
    width: 500px;
    height: 500px;
    border: 20px solid rgb(77, 109, 109);
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0px 40px;
}

#reset {
    font-size: 1.5em;
    color: white;
    background-color: rgb(77, 109, 109);
}

#reset:hover {
    font-weight: bold;
}

.square {
    background-color: white;
    box-sizing: border-box;
    border: 1px solid black;
}

body {
    background-color: rgb(117, 173, 173);
}