#container {
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

#reset {
    font-size: 1.5em;
}

#reset:hover {
    font-weight: bold;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
}

